body
	padding: 50px
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
	background-color: #000000
	overflow: hidden
a
	color: #F7F7F4

.picture
	display: none
	position: absolute
	top: 0px
	left: 0px